
/_ReSharper.FileRenamer
/FileRenamer.5.1.ReSharper.user
/FileRenamer.suo
/RenameFiles/bin
/RenameFiles/obj
FileRenamer/bin/Debug/FileRenamer.exe.config
FileRenamer/bin/Debug/FileRenamer.vshost.exe
FileRenamer/bin/Debug/FileRenamer.vshost.exe.config
FileRenamer/bin/Debug/FileRenamer.vshost.exe.manifest
FileRenamer/bin/Debug/RenameFiles.exe
FileRenamer/bin/Debug/RenameFiles.exe.config
FileRenamer/bin/Debug/RenameFiles.pdb
FileRenamer/bin/Debug/RenameFiles.rar
FileRenamer/bin/Debug/RenameFiles.vshost.exe
FileRenamer/bin/Debug/RenameFiles.vshost.exe.config
FileRenamer/bin/Debug/RenameFiles.vshost.exe.manifest
FileRenamer/bin/Release/FileRenamer.exe.config
FileRenamer/bin/Release/FileRenamer.vshost.exe
FileRenamer/bin/Release/FileRenamer.vshost.exe.config
FileRenamer/bin/Release/FileRenamer.vshost.exe.manifest
FileRenamer/bin/Release/RenameFiles.exe
FileRenamer/bin/Release/RenameFiles.exe.config
FileRenamer/bin/Release/RenameFiles.pdb
FileRenamer/bin/Release/RenameFiles.vshost.exe.config
FileRenamer/bin/Release/RenameFiles.vshost.exe.manifest
FileRenamer/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
FileRenamer/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FileRenamer/obj/x86/Debug/FileRenamer.csproj.FileListAbsolute.txt
FileRenamer/obj/x86/Debug/GenerateResource-ResGen.read.1.tlog
FileRenamer/obj/x86/Debug/GenerateResource-ResGen.write.1.tlog
FileRenamer/obj/x86/Debug/GenerateResource.read.1.tlog
FileRenamer/obj/x86/Debug/GenerateResource.write.1.tlog
FileRenamer/obj/x86/Debug/RenameFiles.csproj.FileListAbsolute.txt
FileRenamer/obj/x86/Debug/RenameFiles.exe
FileRenamer/obj/x86/Debug/RenameFiles.pdb
FileRenamer/obj/x86/Debug/RenameFiles.Properties.Resources.resources
FileRenamer/obj/x86/Debug/RenameFiles.RenameFilesForm.resources
FileRenamer/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
FileRenamer/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
FileRenamer/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
FileRenamer/obj/x86/Release/FileRenamer.csproj.FileListAbsolute.txt
FileRenamer/obj/x86/Release/GenerateResource-ResGen.read.1.tlog
FileRenamer/obj/x86/Release/GenerateResource-ResGen.write.1.tlog
FileRenamer/obj/x86/Release/RenameFiles.csproj.FileListAbsolute.txt
FileRenamer/obj/x86/Release/RenameFiles.exe
FileRenamer/obj/x86/Release/RenameFiles.pdb
FileRenamer/obj/x86/Release/RenameFiles.Properties.Resources.resources
FileRenamer/obj/x86/Release/RenameFiles.RenameFilesForm.resources
FileRenamer/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
FileRenamer/bin/Debug/FileRenamer.exe
.gitignore
FileRenamer/bin/Debug/FileRenamer.pdb
FileRenamer/obj/x86/Debug/FileRenamer.exe
FileRenamer/obj/x86/Debug/